.centered{
	text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}

.flex_column1 {
    float: left;
    width: 60%;
}

.flex_column2 {
    float: right;
    width: 40%;
}

.frame {
	width: 500px;
	height: 500px;
}

.axis {
	stroke-width: 5px;
	stroke: black;
}

.point {
	fill:mediumvioletred;

}

.point:hover{
	fill: lightpink;
}

.border {
    border-color: pink;
    border-width: 3px;
    stroke-width: 3px;
    stroke: lightsalmon;
}
